/* Main background color: #FFFFFF */
/* Secondary background color: #F5F4FA */
/* Hero&Footer background color: #2F303A */
/* Focus color: #2196F3; */
/* Primary text color: #212121 */
/* Secondary text color: #757575 */
/* Tretiary text color: color: rgba(255, 255, 255, 0.6); */

/* Colors variables */
:root {
  --primary-background: #ffffff;
  --secondary-background: #f5f4fa;
  --hero-footer-background: #2f303a;
  --focus: #2196f3;
  --primary: #212121;
  --secondary: #757575;
  --tretiary: rgba(255, 255, 255, 0.6);
}

/* Basic */
body {
  background-color: var(--primary-background);
  color: var(--primary);
  font-family: "Roboto";
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.list .link:hover,
.list .link:focus {
    color: var(--focus);
}

/* Header */
.header .logo {
  font-family: "Raleway";
}
.logo .particle {
  color: var(--focus);
}

.nav-contact {
    color: var(--secondary)
}

/* Main */

/* Footer */

.footer {
    background-color: var(--hero-footer-background);
}

.footer .logo,
.footer .address {
    color: var(--primary-background);
}

.footer .mail,
.footer .phone {
    color: var(--tretiary);
}
