/* Primary light color: #FFFFFF */
/* Secondary light color: #F5F4FA */
/* Hero&Footer background color: #2F303A */
/* Focus color: #2196F3; */
/* Primary dark color: #212121 */
/* Secondary dark color: #757575 */
/* Tretiary dark color: color: rgba(255, 255, 255, 0.6); */

/* Colors variables */
:root {
  --primary-light: #ffffff;
  --secondary-light: #f5f4fa;
  --hero-footer-background: #2f303a;
  --focus: #2196f3;
  --primary-dark: #212121;
  --secondary-dark: #757575;
  --tretiary-dark: rgba(255, 255, 255, 0.6);
}

/* Basic */
body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: "Roboto";
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.list .link:hover,
.list .link:focus {
  color: var(--focus);
}

.button {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.button.primary {
  background-color: var(--focus);
  color: var(--primary-light);
}

.button.secondary {
  background-color: var(--secondary-light);
  color: var(--primary-dark);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--focus);
  color: var(--primary-light);
}

/* Header */
.header .logo {
  font-family: "Raleway";
}
.logo .particle {
  color: var(--focus);
}

.nav-contacts {
  color: var(--secondary-dark);
}

.list .link.current {
  color: var(--focus);
}

/* Main Studio */

/* Hero */
.hero {
  background-color: var(--hero-footer-background);
}

.hero-title {
  color: var(--primary-light);
}

/* Sections */

.benefits .description {
  color: var(--secondary-dark);
}

.section.team {
  background-color: var(--secondary-light);
}

.team-role {
  color: var(--secondary-dark);
}

.example-description {
  color: var(--secondary-dark);
}

/* Footer */

.footer {
  background-color: var(--hero-footer-background);
}

.footer .logo,
.footer .address {
  color: var(--primary-light);
}

.footer .mail,
.footer .phone {
  color: var(--tretiary-dark);
}
